@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
}
  
body {
  background-image: url("https://i.pinimg.com/564x/0d/59/f6/0d59f6628dc73b340bb00b83ab6e5cc1.jpg");
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(2px);
  height: 100vh;
  color: white;
  font-family: "Dancing Script", cursive;
  margin: 0;
}
  
.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
}

.container h1 {
  font-size: 100px;
}

.flex {
  display: flex;
}
  
input,
button {
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
  font-family: "Raleway", sans-serif;
}


input[type='text'] {
  width: 300px;
}

  
.search-btn {
  cursor: pointer;
  left: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
  
.random-btn {
  cursor: pointer;
  margin-left: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
  
.musics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}
  
.music {
  cursor: pointer;
  position: relative;
  height: 180px;
  width: 180px;
  text-align: center;
}
  
.musics img {
  width: 100%;
  height: 100%;
  border: 4px #fff solid;
  border-radius: 2px;
}
  
.music-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}
  
.music:hover .music-info {
  opacity: 1;
}
  
.single-music {
  margin: 30px auto;
  width: 70%;
}
  
.single-music img {
  width: 300px;
  margin: 15px;
  border: 4px #fff solid;
  border-radius: 2px;
}
  
.single-music-info {
  margin: 20px;
  padding: 10px;
  border: 2px #e09850 dashed;
  border-radius: 5px;
}
  
.single-music p {
  margin: o;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
  
.single-music ul {
  padding-left: 0;
  list-style-type: none;
}
  
.single-music ul li {
  border: 1px solid #ededed;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  color: #2d2013;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin: 0 5px 5px 0;
}
  
@media (max-width: 800px) {
  .musics {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .musics {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .music {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 500px) {
  input[type='text'] {
    width: 100%;
  }
  
  .musics {
    grid-template-columns: 1fr;
  }
  
  .music {
    height: 300px;
    width: 300px;
  }
}